
body {
    text-align : center;
    position: center;
    width: 800px;
}
.title {
    font-family: 'Song Myung', serif;
}
.wrap {
    font-family: 'Nanum Myeongjo', serif;
    width: 500px;
    position:absolute;
    top:0; left:0; bottom:0; right:0;
}
.card-body {
    font-family: 'Nanum Myeongjo', serif;
    text-align: left;
}
.card-title {
    font-weight: bold;
}
.btn {
    font-family: 'Nanum Myeongjo', serif;
}
.row {
    /* font-size: large; */
    font-family: 'Nanum Myeongjo', serif;
}
.card-columns {
    width: 800px;
}
