<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Song+Myung&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Gallery</title>
</head>

<body>
    <div class="title">
        <h1>냥님들의<br>갤러리입니다.</h1>
    </div>
    <div class="subtitle">
        <h5><br>보고싶은 냥님의 학교를 선택해주세요.</h5>
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>대학교를 선택해주세요.</option>
              <option value="1">가톨릭대학교</option>
              <option value="2">감리교신학대학교</option>
              <option value="3">건국대학교</option>
              <option value="4">경희대학교</option>
              <option value="5">고려대학교</option>
              <option value="6">광운대학교</option>
            </select>
          </div>
    </div>
    <div class="card-columns" id="cards-box">
        <div class="card">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/06/02/06/52/cat-5249722_960_720.jpg"
                alt="Card image cap" href="#">
            <div class="card-body">
                <h5 class="card-title">건냥이 </h5>
                <p class="card-text">냥님 컨디션 : </p>
                <p class="card-text comment">냥님 한줄평 : </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/06/07/12/59/cat-5270323_960_720.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">연냥이 </h5>
                <p class="card-text">냥님 컨디션 : </p>
                <p class="card-text comment">냥님 한줄평 : </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2019/08/29/08/44/cat-4438539_960_720.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">중냥이 </h5>
                <p class="card-text">냥님 컨디션 : </p>
                <p class="card-text comment">냥님 한줄평 : </p>
            </div>
        </div>
    </div>
</body>

</html>