<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Song+Myung&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>StreetCats</title>
</head>

<body>
    <div class="title">
        <h1>안녕하세요,<br>집사님!</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <label for="">우리학교 냥님을 <br> 소개합니다.</label> <br>
                <a class="btn btn-success" href="/univ">냥님 소개하기</a>
            </div>
            <div class="col">
                <label for="">다른학교 냥님을 <br> 구경합니다.</label> <br>
                <a class="btn btn-success" href="/gallery">냥님 구경하기</a>
            </div>
        </div>
    </div>



</body>

</html>