<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Song+Myung&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href = "../static/style.css">
    <title>University</title>
</head>

<body>
    <div class="title">
        <h1>안녕하세요,<br>집사님!</h1>
    </div>
    <div class="subtitle">
        <h5><br>집사님의 대학교를 선택해주세요.</h5>
    </div>
    <br>
    <div class="row">
        <div class="col-11">
            <div class="input-group mb-3">
                <!-- <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">뭐하지</label>
                </div> -->
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>대학교를 선택해주세요.</option>
                  <option value="1">가톨릭대학교</option>
                  <option value="2">감리교신학대학교</option>
                  <option value="3">건국대학교</option>
                  <option value="4">경희대학교</option>
                  <option value="5">고려대학교</option>
                  <option value="6">광운대학교</option>
                </select>
              </div>
            <a type="button" class="btn btn-primary btn-lg btn-block" href="/introduce">냥이 소개하러가기</a>
        </div>
    </div>

    

</body>

</html>